[submodule "verl"]
	path = verl
	url = https://github.com/volcengine/verl
[submodule "apex"]
	path = apex
	url = https://github.com/NVIDIA/apex.git
[submodule "AReaL"]
	path = AReaL
	url = https://github.com/inclusionAI/AReaL
[submodule "ART"]
	path = ART
	url = https://github.com/OpenPipe/ART
[submodule "agent-lightning"]
	path = agent-lightning
	url = https://github.com/microsoft/agent-lightning
