OPENAI_API_KEY=sk-xxx
ALPHAVANTAGE_API_KEY=demo
BALLDONTLIE_API_KEY=83xxx
DEEPSEEK_API_KEY=sk-54xx
ALI_API_KEY=sk-fxxx
GOOGLE_API_KEY=AIzaSyxx
BACKUP_BUCKET=123
DOUBAO_API_KEY=xxx
CLAUDE_API_KEY=sk-ant-api03-_
REWARD_MODEL_URL=http://127.0.0.1:7000/score
WANDB_BASE_URL=http://192.168.100.8:3005
WANDB_API_KEY=local-xxx